:root 
{
  --navTextColour: #F18800;
  --bodyTextColour: #ffffff;
  --footerTextColour: #ffffff;
  --footerTitleTextColour: #F18800;
  --footerLineColour: #66c83d;  
  --topTitleTextColour: rgb(255, 80, 255);
  --bottomTitleTextColour: rgb(255, 80, 255);


  --navBackgroundColour: #000000;
  --bodyBackgroundColour: #F18800;
  --footerBackgroundColour: #000000;
  --sideBackgroundColour: #646464;
  --carouselBackgroundColour: #F18800;
  --titleBackgroundColour: #000000;
  --titleGradientBackgroundColour: #646464;

}



.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
 }
}
.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.sticky {
  background-color: var(--navBackgroundColour);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid rgb(0,0,0);
}
.logo {
  width: 50px;
  font-size: 50px;
  color: var(--navTextColour);
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  
  .logo {
    float: none;
 }
}
nav {
  float: right;
  width: 90%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
 }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
 }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
 } 
 
}
nav ul a {
  color: var(--navTextColour);
  text-transform: uppercase;
  font-size: 18px;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
 }

}
#logo
{
  float: left;
  padding-top: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media(max-width: 700px)
{
  #logo
  {
    float: none;
    text-align: center;
  }
}


.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: var(--sideBackgroundColour);
  display: block;
}
.row {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
* {
  box-sizing: border-box;
}
body {
  color: var(--bodyTextColour);
  background-color: var(--sideBackgroundColour);
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
h1 {
  display: block;
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}
.content {
  padding: 50px 2% 250px;
}
.hero {
  position: relative;
  background: var(--titleBackgroundColour);
  background-image: linear-gradient(var(--titleBackgroundColour), var(--titleGradientBackgroundColour));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color:  var(--bottomTitleTextColour);
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: var(--topTitleTextColour);
  border-bottom: 2px solid var(--topTitleTextColour);
  padding-bottom: 12px;
  line-height: 3;
}
.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid var(--topTitleTextColour);
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: var(--topTitleTextColour);
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
 }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
 }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
 }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
 }

}

/* Global */
html{background-color: black;}
#site-content {
  background-color: var(--bodyBackgroundColour);
}  

.carousel-item
{
  background-color: var(--carouselBackgroundColour);
}
.carousel
{
  border: black;
  border-bottom: solid;
}


.container
{
  display: block;
}



#site-content {
	min-height: 100%;
	min-height: 100vh;
	padding-top: 65px;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
  
}

#site-footer {
	padding: 25px 0;
	font-size: 85%;
	background-color: var(--footerBackgroundColour);
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}


html, body {
	padding: 0;
	margin: 0;
}
#site-content {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#site-footer {
	min-height: 20vw;
	/* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
	/* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
	background-size: cover;
	background-position: center;
}







* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: var(--footerTextColour);
  font-family: 'Poppins', sans-serif;
}

  .first h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: var(--footerTitleTextColour);
      padding-bottom: 0.5em;
  }

      .first h4::after {
          content: '';
          background: var(--footerLineColour);
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
      }

  .first p {
      font-size: 14px;
  }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: var(--footerTextColour);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: var(--footerTextColour);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: var(--footerTitleTextColour);
  padding-bottom: 0.5em;
}

  .second h4::after {
      content: '';
      background: var(--footerLineColour);
      width: 20%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 40%;
  }


.second li {
  list-style: none;
  padding-bottom: 30px;
}

.second a, .second2 a {
  color: var(--footerTextColour);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

  .second a:hover, .second2 a:hover {
      color: var(--footerTextColour);
      transition: 0.2s;
      text-shadow: 1px 1px 20px rgba(0,0,0,1);
      text-decoration: none

  }



.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: var(--footerTextColour);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}


  .third h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: var(--footerTitleTextColour);
      padding-bottom: 0.5em;
  }


      .third h4::after {
          content: '';
          background: var(--footerLineColour);
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 80%;
      }



  .third li {
      list-style: none;
      padding-bottom: 15px;
  }


  .third a {
      color: var(--footerTextColour);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
      transition: 0.2s;
  }


      .third a:hover {
          color: var(--footerTextColour);
          transition: 0.2s;
          text-shadow: 1px 1px 20px rgba(0,0,0,1);
      }


@media screen and (max-width:1000px) {
  .first {
      text-align: center;
  }

      .first h4::after {
          left: 40%;
      }
}

@media screen and (max-width:1000px) {
  .third {
      text-align: center;
  }

      .third h4::after {
          left: 40% !important;
      }
}

.margin {
  margin-left: 20px;
}

.line {
  height:2px;
  background-color: var(--footerLineColour);
  width:100%;
}

.container h1{
  text-align:center;
  margin-top:100px;
  margin-bottom:100px;
}